Repository Sadlize/wizardry: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.scss": "stylelint --fix",
  "*.{json,yaml}": "prettier --write",
}

refactor: normalize styles
  src/app/styles/app.scss
  src/app/styles/normalize.css
Due: stylelint --fix

refactor: fluid typography
  src/app/styles/_breakpoints.scss
  src/app/styles/app.scss
  src/app/styles/variables.scss
Due: stylelint --fix

feat: add color and bg color
  src/app/styles/app.scss
Due: stylelint --fix

refactor: add fluid typography mixin
  .stylelintrc
  src/app/styles/_breakpoints.scss
  src/app/styles/app.scss
  src/app/styles/normalize.css
  src/app/styles/variables.scss
Due: stylelint --fix

feat: add hover mixin
  src/app/styles/_breakpoints.scss
Due: stylelint --fix

feat: add README
  README.md
  public/images/starter-banner.png
Due: none

docs(readme): add sass
  README.md
Due: none

feat: add license
  README.md
  package.json
Due: prettier --write

chore(deps): update all dependencies
  package.json
Due: prettier --write

chore(browserlist): add kaios
  .browserslistrc
Due: none

chore(stylelint): change order and empty line rules
  .stylelintrc
Due: none

fix: custom screens
  src/app/styles/_breakpoints.scss
Due: stylelint --fix

docs(readme): add table of contents, installation, utilities and license sections
  README.md
Due: none

fix(lintstaged): code files script
  .lintstagedrc
Due: none

build(eslint): modify no-unused-vars rule
  .eslintrc
Due: none

chore(eslint): add props sort rule
  .eslintrc
Due: none

fix: metadata
  README.md
  config/env/.env.development
  config/env/.env.production
  config/env/.env.staging
  config/env/index.ts
  public/assets/images/starter-banner.png
  src/app/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/shared/constants/routes.ts
  src/shared/constants/translations.ts
  src/shared/lib/metadata.ts
Due: eslint --fix

feat: add favicon
  public/assets/icons/android-chrome-192x192.png
  public/assets/icons/android-chrome-512x512.png
  public/assets/icons/apple-touch-icon.png
  public/assets/icons/favicon.ico
  public/assets/icons/icon.svg
  public/assets/icons/site.webmanifest
  src/app/favicon.ico
  src/shared/lib/metadata.ts
Due: eslint --fix

refactor: fill in SEO
  src/shared/constants/translations.ts
Due: eslint --fix

feat: add request handler with custom fetch
  src/app/model/services/fetchSitemap.ts
  src/shared/lib/fetch/index.ts
  src/shared/lib/fetch/requestHandler.ts
Due: eslint --fix

refactor: move routes to another directory
  README.md
  src/shared/lib/fetch/index.ts
  src/shared/lib/metadata.ts
  src/shared/mocks/sitemapMock.ts
  src/shared/routing/paths.ts
Due: eslint --fix

refactor: rename project files
  .gitignore
  next-env.d.ts
  package.json
  src/app/model/fetch-sitemap.ts
  src/app/model/sitemap.mock.ts
  src/app/model/sitemap.types.ts
  src/app/sitemap.ts
  src/app/styles/index.scss
  src/app/styles/variables.scss
  src/shared/lib/fetch/request-handler.ts
Due: eslint --fix, stylelint --fix, prettier --write

build: add FSD eslint rules
  .eslintrc
  package.json
  src/app/model/fetch-sitemap.ts
  src/shared/lib/fetch/fetch.ts
  src/shared/lib/fetch/index.ts
  src/views/pages folder placeholder
Due: eslint --fix, prettier --write

build: add no-explicit-any rule
  .eslintrc
  src/shared/lib/fetch/fetch.ts
Due: eslint --fix

chore: improve scripts
  package.json
Due: prettier --write

docs: add husky prepare
  README.md
  package.json
Due: prettier --write

build: update eslint config
  .eslintrc
  package.json
Due: prettier --write

build: update eslint config
  .eslintrc
Due: none

style: change banner image
  public/assets/images/starter-banner.png
Due: none

build: add exclusion for template folder
  .eslintignore
  .eslintrc
  .prettierignore
  tsconfig.json
Due: prettier --write
